header .artikel {
  color: rgb(150, 229, 71);
}
header .artikel:hover {
  color: rgb(150, 229, 71);
}

/* section1 */

.section1 {
  padding-left: 8rem;
  border-bottom: 1px solid black;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.sec-kanan {
  padding: 3rem;
  width: 50rem;
  position: relative;
  right: 3rem;
}
.sec-kanan img {
  width: 46rem;
  object-fit: cover;
}

.list {
  color: rgb(158, 203, 91);
}
.judul {
  font-size: 35px;
}

.main {
  flex-direction: column;
  width: 40rem;
  height: 30rem;
  padding: 1rem;
}
.main img {
  object-fit: contain;
  width: 5rem;
}
.img1 {
  position: relative;
  right: 2rem;
}

.icon {
  padding-right: 2rem;
}
.icon i {
  position: relative;
  top: 5px;
}

.share {
  background-color: rgb(150, 193, 86);
  border-radius: 10px;
  padding: 5px;
  width: 6rem;
  height: 2em;
}
.share img {
  object-fit: contain;
  width: 16px;
}

.share p {
  position: relative;
  top: 6px;
  color: white;
}

.paraf1 {
  font-size: 20px;
  color: rgb(70, 70, 70);
}

.judul-1 {
  font-weight: bold;
}

.main {
  background-color: rgb(247, 249, 250);
  border-radius: 10px;
  width: 20rem;
  position: sticky;
  right: 4rem;
  top: 7rem;
  margin-top: 4rem;
}

.card-main .p1 {
  font-size: 12px;
  position: relative;
  bottom: 3px;
}
.p-head {
  position: relative;
  top: 10px;
  font-weight: 500;
}
.hr1 {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.more {
  font-size: 18px;
  color: rgb(158, 203, 91);
}

#artikel-head {
  display: none;
}

#sec-content {
  margin-top: 2rem;
}

#icon-con {
  gap: 5rem;
}
@media only screen and (max-width: 600px) {
  #artikel-head {
    display: block;
    margin-bottom: 1rem;
  }
  .section1 {
    padding: 2rem;
    width: 100%;
    overflow-x: hidden;
  }



  .judul {
    font-size: 27px;

  }
  .icon {
    width: 30rem;
    gap: 1px;
  }

  .share {
    position: relative;
    right: 8.7rem;
    width: 4.5rem;
    height: 1.6rem;
  }

  .share p {
    font-size: 13px;
  }

  #icon-con{
    gap: 1.2rem;
  }

  .sec-kanan {
    padding: 2rem;
    width: 25.5rem;
    right: 3rem;
  }
  .sec-kanan img {
    width: 22.5rem;
   right: 20px;
  }

  .share img {
    width: 13px;
  }
  #img-2-con {
    width: 100%;
  }

  #sec-content {
    flex-direction: column;
    margin-top: -2rem;
  }

  .main {
    flex-direction: column-reverse;
    width: 20rem;
    position: relative;
    right: 0;
    top:-4rem;

    margin-top: 2rem;
  }
}
