header {
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  z-index: 3;
}
nav img {
  width: 1.5rem;
  object-fit: cover;
}

nav {
  background-color: rgba(19, 18, 18, 0.791);
  border-radius: 2rem;
  display: flex;
  backdrop-filter: blur(5px);
  position: sticky;
  height: 50px;
  top: 3%;
  left: 15%;
  display: block;
  z-index: 5;
  text-align: center;
  padding: 20px 0 0 0;
  width: 70%;
}

nav .container-fluid {
  display: flex;
  justify-content: space-between;
}
nav .container-fluid .navbar-brand {
  font-weight: 500;
}

nav .container-fluid .contact-us {
  background-color: rgb(130, 185, 68);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  width: 6rem;
  text-align: center;
}

.link-color {
  color: white;
}

header .nav-text {
  color: white;
}
header .nav-text:hover {
  color: white;
}
.humburger-menu {
  display: none;
}

.logo-brand2 {
  position: absolute;
  display: none;
}
.logo-brand2 img {
  width: 1.5rem;
  object-fit: cover;
}

#scroll-down {
  position: absolute;
  top: 70%;
  bottom: 0;
}

header .artikel {
  color: rgb(150, 229, 71);
}
header .artikel:hover {
  color: rgb(150, 229, 71);
}

header .home {
  color: white;
}

/* section1 */

.section1 {
  padding: 8rem;
}

#search {
  background-color: rgba(240, 243, 244, 0.641);
  border-radius: 30px;
  position: relative;
}

#cari-data {
  border-radius: 30px;
  padding-left: 2rem;
}

#search .container-fluid .collapse ul li a {
  color: rgba(80, 79, 79, 0.791);
  border-radius: 30px;
  padding: 6px;
  font-size: 13px;
}
#search .container-fluid .collapse ul li a:hover {
  background-color: rgb(39, 38, 38);
  color: white;
}
#search .container-fluid .collapse #all-articles {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.144);
  color: rgb(162, 223, 127);
}

.list {
  color: rgb(162, 223, 127);
}

#search .container-fluid .collapse #all-articles:hover {
  color: white;
  background-color: rgb(39, 38, 38);
}

hr {
  border-bottom: 1px solid black;
  width: 57rem;
  position: relative;
  left: 2%;
}

.icon-filter {
  object-fit: contain;
  width: 25px;
}
.bx-menu-alt-left {
  font-size: 24px;
}

.my-icon {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 100%;
  padding: 4px;
  height: 2.1rem;
  position: relative;
  right: 4%;
}
.my-icon2 {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 100%;
  padding: 4px;
  height: 2.1rem;
}

.bx-search {
  position: relative;
  right: 70%;
  font-size: 20px;
  top: 1px;
}
.card-body {
  transition: transfrom 1.5s, 1.5s;
  width: 58rem;
}
.card-body:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.065);
}

.date-person {
  background-color: rgba(239, 242, 242, 0.67);
  width: 13rem;
  justify-content: space-between;
  border-radius: 8px;
  height: 2rem;
  padding: 15px;
  align-items: center;
  position: relative;
  left: 23rem;
}

.bxs-calendar-alt {
  font-size: 14px;
}

.bxs-user {
  font-size: 14px;
}
.data {
  position: relative;
  font-size: 13px;
  top: 7px;
}

#judul {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.judul-artikel {
  font-size: 32px;
  font-weight: 500;
}

.deskripsi-artikel {
  font-weight: 300;
  font-size: 20px;
  position: relative;
  bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  header {
    width: 90%;
    padding: 5px;
  }
  nav {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: none;
    width: auto;
  }

  ul {
    width: 100%;
    padding: 2rem;
  }

  ul .li-header {
    display: none;
  }

  header .home {
    color: black;
  }
  header .nav-text {
    color: black;
  }

  header .nav-text:hover {
    color: rgb(0, 0, 0);
  }

  .contact-us {
    display: none;
  }

  .logo-brand {
    display: none;
  }

  .logo-brand2 {
    display: block;
    bottom: 93%;
    left: 5%;
  }

  .humburger-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 14px;
  }

  #ul-2 {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 1.7rem;
  }

  #ul-2 #all-articles {
    font-size: 12px;
    width: 5rem;
  }
  #search {
    position: relative;
    left: -0.1rem;
    z-index: 0;
    margin-bottom: 3.5rem;
    width: 21rem;
  }

  #search .container-fluid .collapse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  form {
    position: relative;
    right: 8%;
    width: 20rem;
    bottom: 1px;
  }

  .section1 {
    padding: 1rem;
    width: 100%;
  }

  .card-body {
    width: auto;
    height: 17rem;
  }

  .sec-img-thum {
    width: 7rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    top: 2.7rem;
  }

  .judul-artikel {
    font-size: 17px;
  }

  .deskripsi-artikel {
    font-size: 13px;
  }

  .date-person {
    width: 11rem;
    padding: 15px;
    left: -0.5rem;
    bottom: 0.5rem;
  }

  hr {
    width: 100%;
    left: -2px;
  }
}
