.section1 {
  background-color: rgb(29, 25, 29);
  color: yellowgreen;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 1;
}
#home-text {
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 20px;
  background-color: rgb(29, 25, 29);
  padding: 2rem;
  border-radius: 10px;
}

form input {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(52, 49, 52);
  padding: 10px;
}
form input::placeholder {
  color: rgb(255, 255, 255);
}
form textarea {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(52, 49, 52);
  padding: 10px;
}
form textarea::placeholder {
  color: rgb(255, 255, 255);
}
form button {
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  transition: transform 0.5s, 0.5s;
}
form button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.contact-us2 {
  position: relative;
  top: 2rem;
}

@media screen and (max-width: 600px) {
  #home-text {
    color: rgb(0, 0, 0);
  }
  form {
    width: 98%;
  }
}
