header .artikel {
  color: rgb(255, 255, 255);
}
header .artikel:hover {
  color: rgb(255, 255, 255);
}

header {
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  z-index: 3;
  
}

#navbar-head img {
  width: 1.5rem;
  object-fit: cover;
}

#navbar-head {
  background-color: rgba(19, 18, 18, 0.791);
  border-radius: 2rem;
  display: flex;
  backdrop-filter: blur(5px);
  position: sticky;
  height: 50px;
  top: 3%;
  left: 15%;
  display: block;
  z-index: 5;
  text-align: center;
  padding: 23px 0 0 0;
  width: 70%;
}

#navbar-head .container-fluid {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 3px;
}
#navbar-head .container-fluid .navbar-brand {
  font-weight: 500;
}

#navbar-head .container-fluid .contact-us {
  background-color: rgb(130, 185, 68);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  width: 6rem;
  text-align: center;
}

.section1 {
  background-color: rgb(29, 25, 29);
  color: yellowgreen;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 20px;
  background-color: rgb(29, 25, 29);
  padding: 2rem;
  border-radius: 10px;
}

form input {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(52, 49, 52);
  padding: 10px;
}
form input::placeholder{
    color: rgb(255, 255, 255);
}
form textarea {
  outline: none;
  border: none;
  color: white;
  background-color:  rgb(52, 49, 52);
  padding: 10px;
}
form textarea::placeholder{
    color: rgb(255, 255, 255);
}
form button{
  outline: none;
  border: 1px solid white;
  background-color:transparent;
  color: white;
  padding: 5px;
  transition: transform 0.5s,0.5s ;
}
form button:hover{
  background-color:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.contact-us2{
  position: relative;
  top: 2rem;
}