/* verval 1 */

.verval1 {
  background-color: rgb(12, 12, 12);
  padding-left: 13rem;
  padding-right: 13rem;
  padding-top: 10rem;
  gap: 2rem;
  color: white;
  height: 120vh;
  position: relative;
  z-index: 0;
}

.verval1 .siku {
  position: relative;
  padding-left: 3.5rem;
  padding-bottom: 2rem;
}

.verval1 .siku::before,
.verval1 .siku::after {
  content: "";
  position: absolute;
  background-color: white;
}

.verval1 .siku::before {
  width: 2px;
  height: 5.5rem;
  left: -5rem;
  bottom: 0;
}

.verval1 .siku::after {
  width: 5.5rem;
  height: 2px;
  left: -5rem;
  bottom: 0;
}

.verval1 .siku-2 {
  position: relative;
}
.verval1 .siku-2::before,
.verval1 .siku-2::after {
  content: "";
  position: absolute;
  background-color: white;
}

.verval1 .siku-2::before {
  width: 2px;
  height: 5.5rem;
  right: -6rem;
  top: -4rem;
}

.verval1 .siku-2::after {
  width: 5.5rem;
  height: 2px;
  right: -6rem;
  top: -4rem;
}

.verval1 .container .who-we-are {
  color: rgb(255, 181, 44);
  font-size: 3rem;
}
.verval1 .img1 {
  width: 30rem;
  height: 25rem;
  overflow: hidden;
}

.verval1 .img1 img {
  object-fit: cover;
  width: 22rem;
  height: 27rem;
}

/* verval 2 */

.verval2 {
  background-image: url("../img/img-card-sec2/uhu.png");
  height: 50rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white;
  overflow: hidden;
}

.verval2 .card-container {
  position: relative;
  left: 20rem;
  width: 100%;
  height: 100vh;
}
.verval2 img {
  display: none;
  height: 27rem;
  object-fit: cover;
}

.verval2 #card-1 {
  position: relative;
  left: 1.5rem;
  animation: slideInCard1 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

@keyframes slideInCard1 {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(4px);
  }
}

.verval2 #card-2 {
  transform: rotate(11deg);
  position: relative;
  top: 2rem;

  animation: slideInCard2 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
@keyframes slideInCard2 {
  0% {
    transform: translateY(100%) rotate(11deg);
  }
  70% {
    transform: translateY(0) rotate(11deg);
  }

  90% {
    transform: translateY(4px) rotate(11deg);
  }
}
.verval2 #card-3 {
  transform: rotate(22deg);
  position: relative;
  right: 2.3rem;
  top: 9rem;
  animation: slideInCard3 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

@keyframes slideInCard3 {
  0% {
    transform: translateY(100%) rotate(22deg);
  }
  70% {
    transform: translateY(0) rotate(22deg);
  }

  90% {
    transform: translateY(4px) rotate(22deg);
  }
}

.verval2 .card-container.centered {
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12rem;
  rotate: -11deg;
  left: 53%;
  right: 50%;
  animation: slideInCentered 1s ease-in-out;
  transform: translate(-50%, -50%);
}

/* verval 3 */

.verval3 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 239, 240);
  cursor: pointer;
}

.verval3 p {
  font-size: 4rem;
}
.verval3 .our-values {
  font-weight: 500;
  transition: color 1s;
}

.verval3 .bumi-icon {
  width: 13.5rem;
  position: relative;
  bottom: 3.5rem;
  left: 0.5rem;
}
.verval3 .bumi-icon p {
  font-size: 4rem;
}
.verval3 .bumi-icon .icon {
  border: 2px solid black;
  border-radius: 10rem;
  position: relative;
  top: 4px;
  right: 7px;
  transition: 1s;
}

.verval3 .bumi-icon img {
  width: 2rem;
  object-fit: cover;
  animation: bumi-jalan 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.verval3 .verval3-card {
  right: 15rem;
  position: absolute;
  top: 153rem;
}

.verval3 .verval3-card img {
  object-fit: cover;
  width: 50rem;
  display: none;
  transition: transform 1s ease-in-out;
  animation: card-verval-animation 1s ease-in-out;
}

@keyframes card-verval-animation {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(4px);
  }
}
.verval3 .verval3-card .verval3-card-img-2{
  position: relative;
  bottom: 21rem;
}
.verval3 .verval3-card .verval3-card-img-3{
  position: relative;
  bottom: 42rem;
}
.verval3 .verval3-card .verval3-card-img-4{
  position: relative;
  bottom: 63rem;
}
.verval3 .verval3-card .verval3-card-img-5{
  position: relative;
  bottom: 84rem;
}
















.verval3 .verval3-card img.show {
  display: block;
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

/* verval 4 */

.verval4 {
  background-image: url("../img/bg-daun-sec3.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* verval 5 */

.verval5 {
  background-image: url("../img/bambu-bg-fix.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55rem;
  padding: 5rem;
}

.verval5 .container .card-img {
  border-radius: 20px;
}

.verval5 .container .card-img img {
  object-fit: cover;
  height: 10rem;
  border-radius: 10px;
}
.verval5 #carouselExampleControls {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.165);
  padding: 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1.5px solid rgba(255, 255, 255, 0.17);
  border-left: 1.5px solid rgba(255, 255, 255, 0.17);
  border-right: 1.5px solid rgba(255, 255, 255, 0.17);
  border-radius: 2rem;
  width: 63rem;
  height: 40rem;
}
.verval5 #carouselExampleControls .nice-to-now {
  width: 55rem;
}
.verval5 #carouselExampleControls .nice-to-now h3 {
  color: rgba(255, 208, 0, 0.869);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 10px;
  width: 12rem;
  text-align: center;
}
.verval5 #carouselExampleControls .nice-to-now a {
  text-decoration: none;
  color: white;
  position: relative;
  top: 0.5rem;
  right: 0.5rem;
}
.verval5 .container .card-img #user {
  background-color: rgba(128, 153, 164, 0.063);
  border-radius: 7px;
}
