header #our-service {
  color: rgb(150, 229, 71);
}
header #our-service:hover {
  color: rgb(150, 229, 71);
}

header .home {
  color: white;
}
header {
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  z-index: 3;
}

#navbar-head img {
  width: 1.5rem;
  object-fit: cover;
}

#navbar-head {
  background-color: rgba(19, 18, 18, 0.791);
  border-radius: 2rem;
  display: flex;
  backdrop-filter: blur(5px);
  position: sticky;
  height: 50px;
  top: 3%;
  left: 15%;
  display: block;
  z-index: 5;
  text-align: center;
  padding: 20px 0 0 0;
  width: 70%;
}

#navbar-head .container-fluid {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 3px;
}
#navbar-head .container-fluid .navbar-brand {
  font-weight: 500;
}

#navbar-head .container-fluid .contact-us {
  background-color: rgb(130, 185, 68);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  width: 6rem;
}

#contact-us {
  background-color: rgb(130, 185, 68);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  width: 9rem;
  text-align: center;
  outline: none;
  border: none;
  position: relative;
  top: 1rem;
  left: 4rem;
}

.ourservice-card {
  background-color: rgb(19, 19, 19);
  background-image: url("../img/our-service/Subtract.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 70rem;
  height: 35vh;
  padding-top: 35rem;
  padding-bottom: 12rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

#navbar {
  background-color: rgba(29, 30, 31, 0.821);
  border-radius: 30px;
  border: 1px solid rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  width: 22rem;
  position: relative;
  left: 5rem;
  top: -27rem;
}

#navbar ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  bottom: 1.5px;
  right: 17px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 26px;
  padding: 5px;
  width: 6.7rem;
  text-align: center;
}
#navbar ul li:hover {
  background-color: rgb(42, 51, 56);
  color: white;
}

.my-card {
  width: 30rem;
}

.gases {
  color: white;
  width: 33rem;
  position: relative;
  right: 3rem;
  bottom: 10rem;
}
.link-prosedur {
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
  color: rgb(150, 229, 71);
}
.link-prosedur:hover {
  color: rgb(150, 229, 71);
}
.paraf-2 {
  border-left: 2px solid #ffc107;
  padding: 5px;
  height: 6rem;
}
.paraf-2 p {
  position: relative;
  bottom: 0.5rem;
}

.gases-2 {
  position: relative;
  color: white;
  width: 50rem;
  height: 25rem;
  bottom: 10rem;
  right: 3rem;
  gap: 1rem;
}
.gases-2-content {
  width: 37rem;
  position: relative;
  right: 4.6rem;
}
.icon-bumi {
  width: 4rem;
}
.gases-2-title {
  width: 10rem;
}
.card-1 p {
  font-size: 13px;
  font-weight: 100;
}

.scrolldown {
  top: 11.5rem;
  font-weight: 100;
  left: 26rem;
}

.verifikasi {
  border: 1.3px solid rgb(122, 195, 77);
  border-radius: 26px;
  padding: 5px;
  width: 6.7rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.active {
  border: 1.3px solid rgb(122, 195, 77);
  color: rgba(255, 255, 255, 0.909) !important;
}

.hover-effect {
  background-color: rgb(42, 51, 56);
  color: white;
}
.verifikasi,
.validation,
.training {
  cursor: pointer;
}

.selected {
  background-color: rgb(128, 203, 74) !important;
  transition: background-color 0.5s, color 0.5s;
  color: white !important;
  border: 1.3px solid rgb(128, 203, 74) !important;
}
.selected-verifikasi {
  color: rgba(122, 133, 143, 0.909);
}
.selected-verifikasi:hover {
  color: white !important;
}
nav ul .li {
  color: rgba(122, 133, 143, 0.909);
}

.section2 {
  background-image: url("../img/our-service/bg-our1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section2 p {
  font-size: 2rem;
  color: rgb(116, 116, 116);
}

.section2 .section2-verify .img1 {
  cursor: pointer;
  position: relative;
}

.img2 {
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
}
.validasi {
  transition: all 0.5s ease;
  width: 150rem;
}

.img1 {
  width: 25rem;
  background-color: rgb(23, 22, 22);
  border-radius: 30rem;
  position: relative;
  left: 5rem;
  box-shadow: 0px 0px 20px 7px rgba(105, 137, 46, 0.377);
}
.button1 {
  position: relative;
  left: 2rem;
  top: 5px;
  font-weight: 100;
  cursor: pointer;
}

.icon {
  background-color: #7ab317;
  border-radius: 100%;
}
.img2 {
  transform: translateX(100%);
  opacity: 0;
  width: 150rem;
}
.validasi {
  transform: translateX(100%); /* Geser gambar kedua ke kanan penuh */
  opacity: 0;
  width: 150rem;
}

.menu {
  cursor: pointer;
}

.validasi {
  display: none;
  position: absolute;
}

.tanda-tanya {
  font-size: 35px;
  font-weight: 100;
  line-height: 1rem;
  color: #7ab317;
  border: 2px solid #7ab317;
  border-radius: 120%;
  padding: 1.5rem;
  text-align: center;
  height: 4rem;
}
.complaint {
  background-color: rgb(231, 231, 231);
  height: 40vh;
}

.link-pro {
  text-decoration: none;
  color: #6d9c1b;
  font-weight: 500;
}

.link-pro:hover {
  text-decoration: none;
  color: #7ab317;
}

.sector {
  background-image: url("../img/our-service/Layer\ 4.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 55%;
  background-color: rgb(244, 244, 244);
  padding-left: 2rem;
  padding-top: 3rem;
  overflow-y: hidden;
  height: 26rem;
}
.sector-img {
  background-image: url("../img/our-service/leaf-2210973_1280.png");
  background-repeat: no-repeat;
  background-size: 14rem;
  background-position: center;
  height: 5rem;
  width: 14.5rem;
  color: white;
  font-size: 2.3rem;
}

.sector-content {
  width: 40rem;
  position: relative;
  left: 2rem;
}

.sector-num {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  line-height: 1;
}
.sector-num-des {
  font-weight: 700;
  font-size: 0.8rem;
}
.sector-num-des-content {
  position: relative;
  left: 1rem;
  font-size: 0.8rem;
}
.sector-img2 {
  width: 120%;
  object-fit: contain;
  position: relative;
  bottom: 3rem;
  right: 6rem;
}

@media screen and (max-width: 600px) {
  .my-card {
    width: 20rem;
  }

  .ourservice-card {
    background-image: url("../img/our-service/bomm.png");
    padding-top: 50rem;
    background-position: center;
    background-size: 56%;
    right: 7.5rem;
  }

  .card-1 {
    flex-direction: column;
  }

  .gases-2 .card-1 img {
    width: 2rem;
  }

  .gases {
    width: 20rem;
    position: relative;
    gap: 18rem;
    right:-3rem;
    bottom: 24rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 10rem;
  }

  .paraf-2 {
    border-left: 2px solid #ffc107;
    padding: 5px;
    height: 6rem;
  }
  .paraf-2 p {
    position: relative;
    bottom: 0.5rem;
  }

  .gases-2 {
    width: 18rem;
    height: 22rem;
    bottom: 23rem;
    right: -2rem;
    text-align: center;
    gap: 1px;
  }
 
  .icon-bumi {
    width: 4rem;
  }
  .gases-2-title {
    width: 10rem;
  }
}
