header .our-company {
  color: rgb(150, 229, 71);
}
header .our-company:hover {
  color: rgb(150, 229, 71);
}

header {
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  z-index: 3;
}

#navbar-head img {
  width: 1.5rem;
  object-fit: cover;
}

#navbar-head {
  background-color: rgba(19, 18, 18, 0.791);
  border-radius: 2rem;
  display: flex;
  backdrop-filter: blur(5px);
  position: sticky;
  height: 50px;
  top: 3%;
  left: 15%;
  display: block;
  z-index: 5;
  text-align: center;
  padding: 20px 0 0 0;
  width: 70%;
}

#navbar-head .container-fluid {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 3px;
}
#navbar-head .container-fluid .navbar-brand {
  font-weight: 500;
}

#navbar-head .container-fluid .contact-us {
  background-color: rgb(130, 185, 68);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  width: 6rem;
  text-align: center;
}

.section1 {
  padding: 5rem;
  background-color: rgb(19, 19, 19);
}
.section1 .ourservice-card {
  padding: 20rem;
}

.section1 h1 {
  text-align: center;
}

.card-sec {
  position: relative;
  bottom: 5rem;
}

.card-sec img {
  position: absolute;
  bottom: -27rem;
  right: -20rem;

  width: 67rem;
  object-fit: cover;
}

.card-sec .g-2 {
  opacity: 0;
}
.card-sec .g-3 {
  opacity: 0;
}

#navbar {
  background-color: rgba(29, 30, 31, 0.821);
  border-radius: 30px;
  border: 1px solid rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  width: 22.7rem;
  position: relative;
  bottom: 485%;
  left: 78%;
}

#navbar ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  top: 7px;
  right: 17px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 26px;
  padding: 5px;
  width: 6.7rem;
  text-align: center;
}
#navbar ul li:hover {
  background-color: rgb(42, 51, 56);
  color: white;
  
}
.verifikasi {
  border: 1.3px solid rgb(122, 195, 77);
  border-radius: 26px;
  padding: 5px;
  width: 6.7rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.active {
  border: 1.3px solid rgb(122, 195, 77);
  color: rgba(255, 255, 255, 0.909) !important;
}

.hover-effect {
  background-color: rgb(42, 51, 56);
  color: white;
 
}
.verifikasi,
.validation,
.training {
  cursor: pointer;
}

.selected {
  background-color: rgb(128, 203, 74) !important;
   transition: background-color 0.5s, color 0.5s; 
  color: white !important;
  border: 1.3px solid rgb(128, 203, 74) !important;
}
.selected-verifikasi {
  color: rgba(122, 133, 143, 0.909);
}
.selected-verifikasi:hover {
  color: white !important;
}
nav ul .li {
  color: rgba(122, 133, 143, 0.909);
}

.section2 {
  background-image: url("../img/our-service/bg-our1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vh;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section2 p {
  font-size: 2rem;
  color: rgb(116, 116, 116);
}

.section2 .section2-verify .img1 {
  cursor: pointer;
  position: relative;
}
.img1,
.img2 {
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
}

.img1 {
  width: 25rem;
  background-color: rgb(23, 22, 22);
  border-radius: 30rem;
  position: relative;
  left: 5rem;
box-shadow: 0px 0px  20px 7px rgba(105, 137, 46, 0.377);

}
.button1{
  position: relative;
  left: 2rem;
  top: 5px;
  font-weight: 100;
  cursor: pointer;
 
}

.icon{
  background-color: #7AB317;
  border-radius: 100%;
}
.img2 {
  transform: translateX(100%); /* Geser gambar kedua ke kanan penuh */
  opacity: 0;
  width: 150rem;
}
.show-img2 .img1 {
  transform: translateX(-130%); 
}
.show-img2 .img2 {
  transform: translateX(0); /* Kembalikan gambar kedua ke posisi aslinya */
  opacity: 1;
}
