header {
  background-color: rgba(19, 18, 18, 0.869);
}

nav {
  background-color: rgb(34, 33, 33);
  margin-top: 2.2rem;
  width: 79%;
  border-radius: 2rem;
  display: flex;
}

nav .container-fluid {
  display: flex;
  justify-content: space-between;
}
nav .container-fluid .navbar-brand {
  font-weight: 500;
}

nav .container-fluid .contact-us {
  background-color: rgb(117, 215, 117);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  width: 6rem;
  text-align: center;
}


header .excel {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 40rem;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 3.5rem;

}
header .excel::before,
header .excel::after {
  content: "";
  position: absolute;
  background-color: white;
}

header .excel::before {
  width: 2px;
  height: 5.5rem;
  right: -2rem;
  top: -3.5rem;
}

header .excel::after {
  width: 5.5rem;
  height: 2px;
  right: -2rem;
  top: -3.5rem;
}

header .excel .exel-2 {
  position: relative;
}

header .excel-2::before,
header .excel-2::after {
  content: "";
  position: absolute;
  background-color: white;
}

header .excel-2::before {
  width: 2px;
  height: 5.5rem;
  left: 0;
  bottom: 0;
}

header .excel-2::after {
  width: 5.5rem;
  height: 2px;
  left: 0;
  bottom: 0;
}

header .excel-2 h1 {
  font-size: 5rem;
  font-weight: 400;
}

header .scroll-down {
  margin-top: 10rem;
}

header .scroll-down i {
  font-size: 1.7rem;
}
